---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.60.50:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.60.50"
  - "svlk8s.ravensberg.org"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "svlk8s1"
    ipAddress: "192.168.60.51"
    installDiskSelector:
      serial: "S65SNX0RB10109"
    machineSpec:
      secureboot: true
    # https://factory.talos.dev/?arch=amd64&board=undefined&bootloader=sd-boot&cmdline=-console+console%3Dtty0+cpufreq.default_governor%3Dpowersave+-consoleblank+consoleblank%3D300&cmdline-set=true&extensions=-&extensions=siderolabs%2Fi915&extensions=siderolabs%2Fintel-ice-firmware&extensions=siderolabs%2Fintel-ucode&extensions=siderolabs%2Fmei&extensions=siderolabs%2Fnvidia-container-toolkit-lts&extensions=siderolabs%2Fnvidia-open-gpu-kernel-modules-lts&extensions=siderolabs%2Fxe&platform=metal&secureboot=true&target=metal&version=1.12.4
    talosImageURL: factory.talos.dev/installer-secureboot/91168e33651841d2a30bd4f808c6c31a0d0d5956d7c05200f9840c39fc0b2e02
    controlPlane: true
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "4c:3b:df:bf:d8:c2"
        dhcp: false
        addresses:
          - "192.168.60.51/24"
        routes:
          - gateway: "192.168.60.1"
            network: 0.0.0.0/0
        mtu: 1500
        vip:
          ip: "192.168.60.50"
    patches:
      - # Encrypt system disk with TPM
        |-
        machine:
          systemDiskEncryption:
            state:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}
            ephemeral:
              provider: luks2
              keys:
                - slot: 0
                  tpm: {}

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kernel.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

